<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="GoGoPackageSource" value="https://nuget.pkg.github.com/travelgogo/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GoGoPackageSource>
            <add key="Username" value="tiennguyen5118" />
            <add key="ClearTextPassword" value="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" />
        </GoGoPackageSource>
    </packageSourceCredentials>
</configuration>